.carousel{
    margin-bottom: 4rem;
    position: relative;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item{
    height: 32rem;
}
/*End Carousel*/
/*Featurettes*/

.featurette{
    margin-top: 75px;
    margin-bottom: 50px;
}

.featurette-heading{
    margin-top: 4rem;
    letter-spacing: -.05rem;
    font-size: 40px;
}

.lead{
    font-size: 1.25rem;
    font-weight: 300;
}

.col-md-5{
    flex: 0 0 auto;
    width: 41.66%;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

/*Divisor*/
.featurette-divider{
    margin: 5rem 0;
}

.video{
    margin-bottom: 75px;
}