<!--Carousel-->
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
            aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/others_3/nintendo_eshop_5/H2x1_NintendoeShopSaleE3Sale2017_enGB.jpg"
                class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" focusable="false">
            <div class="container">
                <div class="carousel-caption text-start">
                    <p><a class="btn btn-lg btn-primary" routerLink="soon">See More</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="https://miro.medium.com/v2/resize:fit:1400/1*JeZWClSyPB8HiqJrw--S1A.png"
                class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" focusable="false">
            <div class="container">
                <div class="carousel-caption">
                    <h1>CPU's</h1>
                    <p>INTEL or AMD, you can find the best processors in the market here.</p>
                    <p><a class="btn btn-lg btn-primary" routerLink="components">See More</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/vector-gratis/banner-venta-oferta-juego-degradado_23-2149834709.jpg?w=2000"
                class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" focusable="false">
            <div class="container">
                <div class="carousel-caption text-end">
                    <p><a class="btn btn-lg btn-primary" routerLink="404">Click Here</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--End carousel-->

<div class="container">
    <!--F1-->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Switch to a mechanical keyboard.</h2>
            <p class="lead"> Enhance your gaming experience with a mechanical keyboard... there will be no turning back.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/929/242/themes/new_linkedman/1-img-1247044116-1608512252-b38041179d56c5c662f50143f983fc5c1608512253-640-0.webp?159570110"
                class="bd-placeholder-img" width="100%" height="250" aria-hidden="true" focusable="false">
        </div>
    </div>
    <!--Divisor-->
    <hr class="featurette-divider">
    <!--F2-->
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Have you chosen your headset yet?.</h2>
            <p class="lead">We have the widest variety of headphones, the best brands and models in the market for every
                occasion.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/929/242/themes/new_linkedman/1-img-551774183-1654795622-c483a5c2dd27f704fcbc8f08e42edde91654795622-640-0.webp?159570110"
                class="bd-placeholder-img" width="100%" height="250" aria-hidden="true" focusable="false">
        </div>
    </div>
    <!--Divisor-->
    <hr class="featurette-divider">
</div>

<div class="container video">
    <h3>GET IT NOW</h3>
    <h6>PS5 Exclusive</h6>
    <iframe width="100%" height="545" src="https://www.youtube.com/embed/8S4v7aQxUVo" title="Marvel&#39;s Spider-Man 2 - Gameplay REVEAL PS5 con subtítulos en ESPAÑOL | 4K | PlayStation España" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>