<div class="container">

    <div class="row mb-3 mt-3">
        <div class="col-md-4 themed-grid-col text-start text-g">Gamers Zone</div>
        <div class="col-6 col-md-6 themed-grid-col text-end fil2">
            <div class="ms-auto">
                <select class="form-select d-inline-block w-auto">
                    <option value="0">Most Recent</option>
                    <option value="1">Most Popular</option>
                    <option value="2">Price Low to High</option>
                    <option value="3">Price High to Low</option>
                    <option value="4">Top Sellers</option>
                    <option value="5">Most Relevant</option>
                    <option value="6">Oldest to Newest</option>
                    <option value="7">A to Z</option>
                    <option value="8">Z to A</option>
                </select><!-- btn-group end.// -->
            </div>
        </div>
    </div>

    <div class="row mb-3 text-center">
        <div class="col-md-4 themed-grid-col">

            <div id="aside_filter" class="card d-lg-block mb-5 collapse">
                <strong class="d-block py-2"> Products Filter </strong>

                <!--Filtro para Marcas-->
                <article class="filter-group">
                    <header class="card-header">
                        <!--Filtro para Estilos-->
                        <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside_2"
                            aria-expanded="true">
                            <i class="icon-control fa fa-chevron-down"></i> Platform
                        </a>
                    </header>
                    <div class="collapse" id="collapse_aside_2">
                        <div class="card-body">
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> PS5 </span>
                            </label> <!-- form-check end.// -->

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> PS4 </span>
                            </label> <!-- form-check end.// -->

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Xbox Series X | S </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Nintendo Switch </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> PC </span>
                            </label> <!-- form-check end.// -->
                            <!-- form-check end.// -->
                        </div> <!-- card-body .// -->
                    </div> <!-- collapse.// -->
                </article><!-- filter-group // -->

                <article class="filter-group">
                    <header class="card-header">
                        <!--Filtro para Estilos-->
                        <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside_3"
                            aria-expanded="false">
                            <i class="icon-control fa fa-chevron-down"></i> Genre
                        </a>
                    </header>
                    <div class="collapse" id="collapse_aside_3">
                        <div class="card-body">
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Action </span>
                            </label> <!-- form-check end.// -->

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Adventure </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Casual </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Indie </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> MMO </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Horror </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> RPG </span>
                            </label> <!-- form-check end.// -->

                            <!-- form-check end.// -->
                        </div> <!-- card-body .// -->
                    </div> <!-- collapse.// -->
                </article><!-- filter-group // -->

                <article class="filter-group">
                    <header class="card-header">
                        <!--Filtro para Estilos-->
                        <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside_1"
                            aria-expanded="false">
                            <i class="icon-control fa fa-chevron-down"></i> Condition
                        </a>
                    </header>
                    <div class="collapse" id="collapse_aside_1">
                        <div class="card-body">
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Digital </span>
                            </label> <!-- form-check end.// -->

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> New </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Old </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> CD / Blueray </span>
                            </label> <!-- form-check end.// -->

                            <!-- form-check end.// -->
                        </div> <!-- card-body .// -->
                    </div> <!-- collapse.// -->
                </article><!-- filter-group // -->

                <article class="filter-group">
                    <header class="card-header">
                        <!--Filtro para Estilos-->
                        <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside_4"
                            aria-expanded="false">
                            <i class="icon-control fa fa-chevron-down"></i> Price
                        </a>
                    </header>
                    <div class="collapse" id="collapse_aside_4">
                        <div class="card-body">
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> $1 - $10 </span>
                            </label> <!-- form-check end.// -->

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> $11 - $30 </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> $31 - 70 </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> $71 - $100 </span>
                            </label> <!-- form-check end.// -->

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> $100 or more </span>
                            </label> <!-- form-check end.// -->

                            <!-- form-check end.// -->
                        </div> <!-- card-body .// -->
                    </div> <!-- collapse.// -->
                </article><!-- filter-group // -->

                <article class="filter-group">
                    <header class="card-header">
                        <!--Filtro para Estilos-->
                        <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside_5"
                            aria-expanded="false">
                            <i class="icon-control fa fa-chevron-down"></i> ESRB
                        </a>
                    </header>
                    <div class="collapse" id="collapse_aside_5">
                        <div class="card-body">
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Everyone</span>
                            </label> <!-- form-check end.// -->

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Everyone 10+ </span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Mature</span>
                            </label> <!-- form-check end.// -->
                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Teen 13+ </span>
                            </label> <!-- form-check end.// -->

                            <label class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> +18 </span>
                            </label> <!-- form-check end.// -->

                            <!-- form-check end.// -->
                        </div> <!-- card-body .// -->
                    </div> <!-- collapse.// -->
                </article><!-- filter-group // -->

                <button class="mt-3 mb-3 btn-filter">Apply Filters</button>
            </div>
        </div>

        <div class="col-md-8 themed-grid-col">
            <!--Cards-->
            <div class="row row-cols-1 row-cols-md-3">

                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="https://cdn7.tales.dk/products/00166/16641/the-art-and-making-of-hogwarts-legacy-exploring-the-unwritten-wizarding-world.jpg"
                                alt="Card image cap" height="350">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Howarts Legacy</h4>
                            <!--Text-->
                            <p class="card-text">$80 USD</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="row mb-2 text-center">
                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">See
                                        More</button></div>

                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">Add
                                        Cart</button></div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="https://media.vandal.net/m/106797/marvels-spiderman-2-202212217423412_1.jpg"
                                alt="Card image cap" height="350">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Spiderman 2 PS5</h4>
                            <!--Text-->
                            <p class="card-text">Coming Soon</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="row mb-2 text-center">
                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">See
                                        More</button></div>

                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">Add
                                        Cart</button></div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="https://i0.wp.com/freakelitex.com/wp-content/uploads/2017/01/legend-zelda-breath-wild.jpg?resize=640%2C1037&ssl=1"
                                alt="Card image cap" height="350">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Legend Zelda: BotW</h4>
                            <!--Text-->
                            <p class="card-text">$70 USD</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="row mb-2 text-center">
                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">See
                                        More</button></div>

                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">Add
                                        Cart</button></div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://pbs.twimg.com/media/FUM7AZEX0AEK6HZ.jpg"
                                alt="Card image cap" height="350">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Pokémon Scarlet</h4>
                            <!--Text-->
                            <p class="card-text">$60 USD</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="row mb-2 text-center">
                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">See
                                        More</button></div>

                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">Add
                                        Cart</button></div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="https://nintenduo.com/wp-content/uploads/2021/12/FNAF-683x1024.webp"
                                alt="Card image cap" height="350">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">FNAF Security Breach</h4>
                            <!--Text-->
                            <p class="card-text">$50 USD</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="row mb-2 text-center">
                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">See
                                        More</button></div>

                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">Add
                                        Cart</button></div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="https://images-na.ssl-images-amazon.com/images/I/71DNZo1Vw0L._AC_UL600_SR600,600_.jpg"
                                alt="Card image cap" height="350">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">TLOU Part 2</h4>
                            <!--Text-->
                            <p class="card-text">$40 USD</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="row mb-2 text-center">
                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">See
                                        More</button></div>

                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">Add
                                        Cart</button></div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="https://media.vandal.net/i/ivandal/1200x630/21165/201368114841_1.jpg"
                                alt="Card image cap" height="350">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Forza Horizon 5</h4>
                            <!--Text-->
                            <p class="card-text">$80 USD</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="row mb-2 text-center">
                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">See
                                        More</button></div>

                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">Add
                                        Cart</button></div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="https://pbs.twimg.com/media/DizfPBdUEAAJKVs?format=jpg&name=4096x4096"
                                alt="Card image cap" height="350">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Halo Infinite</h4>
                            <!--Text-->
                            <p class="card-text">$30 USD</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="row mb-2 text-center">
                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">See
                                        More</button></div>

                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">Add
                                        Cart</button></div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top"
                                src="https://i.blogs.es/2c9c70/gta-20v-20portada-20grande/450_1000.webp"
                                alt="Card image cap" height="350">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">GTA V Deluxe</h4>
                            <!--Text-->
                            <p class="card-text">$10 USD <span class="ofer">$25 USD</span></p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="row mb-2 text-center">
                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">See
                                        More</button></div>

                                <div class="col-6"> <button type="button" class="btn btn-light-blue btn-md">Add
                                        Cart</button></div>
                            </div>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

            </div>
        </div>
    </div>
    <div class="pagination p1">
        <ul>
            <a href="#">
                <li>&lt;</li>
            </a>
            <a class="is-active" href="#">
                <li>1</li>
            </a>
            <a href="#">
                <li>2</li>
            </a>
            <a href="#">
                <li>3</li>
            </a>
            <a href="#">
                <li>4</li>
            </a>
            <a href="#">
                <li>5</li>
            </a>
            <a href="#">
                <li>6</li>
            </a>
            <a href="#">
                <li>&gt;</li>
            </a>
        </ul>
    </div>
</div>